/CompUsuario/nbproject/private/
/CompUsuario/CompUsuario-war/nbproject/private/
/CompUsuario/CompUsuario-ejb/nbproject/private/
/CompUsuario/CompUsuario-ejb/build/
/CompUsuario/build/
/CompUsuario/CompUsuario-war/dist/
/CompUsuario/CompUsuario-war/build/
/CompUsuario/CompUsuario-ejb/dist/
/CompCatalogo/nbproject/private/
/CompCatalogo/CompCatalogo-war/nbproject/private/
/CompCatalogo/CompCatalogo-ejb/nbproject/private/
/InterfazRemota/nbproject/private/
/InterfazRemota/build/
/InterfazRemota/dist/
/CompCatalogo/CompCatalogo-ejb/build/
/CompCatalogo/build/
/CompCatalogo/CompCatalogo-war/build/
/CompCatalogo/CompCatalogo-war/dist/
/CompCatalogo/CompCatalogo-ejb/dist/
/CompCatalogo/dist/
/CompPedido/nbproject/private/
/CompPedido/CompPedido-war/nbproject/private/
/CompPedido/CompPedido-ejb/nbproject/private/
/CompPedido/CompPedido-ejb/build/
/CompPedido/build/
/CompPedido/CompPedido-ejb/dist/
/CompPedido/CompPedido-war/build/
/CompPedido/CompPedido-war/dist/